.table{
    
    max-height: 70vh;
    background-color: rgba(212, 200, 196,1) !important;


}


.container{
    margin: 5vh 10vw;
    height: auto;
    background-color: rgba(212, 200, 196,0) !important;
}
.MuiTableCell-alignRight
{
    align-items: left ;
}